*/client-venv
*/server-venv

.vscode
*/__pycache__
*/__pycache__/
__pycache__

testfiles
testfiles/*
lsc22.json

server/vbs_loader

# ignore the client virtual environment
client/client_venv/